@charset "utf-8";
/* css */

body, div, dl, dt, dd, ul, ol,
 li, h1, h2, h3, h4, h5, h6,
  pre, form, fieldset, input, 
  p, a, blockquote, th {
    margin: 0;
    padding: 0;}

/* body {  font: 12px/1.8 "宋体",Arial,"微软雅黑"; } */


img { border: 0; display: block }

ol, ul, li {
    list-style: none outside none;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

a {
    outline: none;
    color: #333;
    text-decoration: none;
}

a img {
    border: none;
}
button{
    width:70px;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    background:#0279D7;
}

button:hover{
    background:#065FC7;
}

button,input{
    border: none;
    outline: 0
}


/* 清除浮动 */
.cf::after{
    content: "";
    display: block;
    clear: both;
}

i, em, cite {
    font-style: normal;
}

.mr10 {
    margin-right: 10px;
}
/* 是fl不是f1 */
.fl{
    float: left;
}
.fr {
    float: right;
}
.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.red {
    color:#f01742;
}