body {  font: 12px/1.8 "宋体",Arial,"微软雅黑"; } 

.loaded a {
    transition: color .3s,background-color .3s,border .3s;
}
a {
    text-decoration: none;
    color: #262626;
    outline: 0;
}

.wrap {
    background: #fff5f5;
}
.wrap::before{
    content: "";
    display: table;
}

.box-center {
    width: 1020px;
    margin:20px auto;  
}
.main-wrap {
    min-height: 550px;
    padding-bottom: 20px;
}

.my-info-wrap {
    overflow: hidden;
    width: 230px;
    margin-right: 20px;
    border-radius: 6px;
    background: #fff;
}

.my-info-wrap .my-bg {
    overflow: hidden;
    height: 180px;
    background: url('../../../public/images/bg.e41c9.png');
}


.my-info-wrap .info {
    padding-top: 18px;
    text-align: center;
}

.my-info-wrap .info .avatar {
    position: relative;
    z-index: 1;
    width: 76px;
    height: 76px;
    margin: 0 auto 14px;
}

.my-info-wrap .info img {
    width: 74px;
    height: 74px;
    border: 2px solid #fff;
    border-radius: 100%;
}
/* 我的其他信息 */
.my-info-wrap .info h3 {
    font: 700 16px/18px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 7px;
}
.my-info-wrap .info h3, 
.my-info-wrap .info p {
    color: #fff;
}

.my-info-wrap .info h3 a, .my-info-wrap .info h3 span {
    display: inline-block;
    vertical-align: middle;
}
.my-info-wrap .info h3 span {
    overflow: hidden;
    max-width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-info-wrap .info p {
    font: 12px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
}



/* 我的书架 */
.right-content {
    width: 770px;
    min-height: 300px;
}

.right-content .content-wrap {
    border-radius: 6px;
    background: #fff;
}

.right-content .content-head {
    height: 71px;
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}

.right-content .content-head .sort-tab {
    font-size: 0;
    margin-top: 24px;
}

.right-content .content-head .sort-tab a {
    font: 12px/24px PingFangSC-Regular,'-apple-system',Simsun;
    display: inline-block;
    width: 64px;
    height: 24px;
    margin-left: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}

.right-content .content-head .sort-tab a:first-child {
    margin-left: 0;
}


/* 阅读时间 */
.right-content .content-head .sort-tab a.act {
    color: #fff;
    background: #f01742;
}

.right-content .content-head .head-tab h1, .right-content .content-head .head-tab h3 {
    font-size: 20px;
    line-height: 72px;
    float: left;
}
.lang {
    font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
}

table {
    width: 100%;
    margin: 0 auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* 鼠标滑过的背景颜色 */
.shelf-table tr.top {
    background: #fff7e6;
}

.shelf-table tr {
    transition: background .3s;
    border-bottom: 1px solid #e6e6e6;
}

.shelf-table td, .shelf-table tr {
    position: relative;
    z-index: 1;
}


.shelf-table td {
    padding: 12px 0;
}
.shelf-table td, .shelf-table tr {
    position: relative;
    z-index: 1;
}

input[type=checkbox]:hover {
    cursor: pointer;
}
input[type=checkbox] {
    position: absolute;
    top: 14px;
    opacity: 0;
}
button, input {
    font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
    border: none;
    outline: 0;
}

/* 复选框的样式 */
.ui-checkbox {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin: 0 8px 0 -3px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: -6px;
    background-color: #fff;
    background-clip: content-box;
}

.ui-checkbox {
    background: url('../../../public/images/checkbox.00c80.png') no-repeat;
}

/* :root .ui-checkbox {
    vertical-align: -7px;
} */

.shelf-table td .ui-checkbox {
    vertical-align: -1px;
}


input[type=checkbox]+.ui-checkbox-checked {
    background-position: 0 -40px;
}

.label {
    line-height: 34px;
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 8px 0;
}
label {
    cursor: pointer;
}
.book-img {
    width: 72px;
    height: 96px;
    margin-right: 12px;
    border: 1px solid #e6e6e6;
}

.shelf-table .book-img {
    position: relative;
    z-index: 1;
    float: left;
    width: 51px;
    height: 68px;
    margin-right: 12px;
}

.book-img a {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: 100%;
    height:100%;
    box-shadow: 0 1px 6px rgba(0,0,0,.3), 0 0 5px #f9f2e9 inset;
}

.shelf-table .book-img a {
    overflow: visible!important;
}

.book-img a img {
    width: 51px;
    height: 68px;
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    transition: transform .3s ease-out;
    color: #fcfcfa;
}

.shelf-table .book-img i {
    font: 12px/20px PingFangSC-Regular,'-apple-system',Simsun;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -2px;
    width: 55px;
    height: 18px;
    text-align: center;
    color: #fff;
    background-image: url('../../../public/images/my_sprite.f0a26.png');
    background-repeat: no-repeat;
    background-position: 0 -54px;
    background-size: 158px;
}

.shelf-table .book-img i.fin {
    width: 55px;
    height: 18px;
    background-image: url('../../../public/images/my_sprite.f0a26.png');
    background-repeat: no-repeat;
    background-position: 0 -74px;
    background-size: 158px;
}

.shelf-table .info {
    float: left;
    width: 144px;
    padding-top: 14px;
}

.shelf-table .info h3 {
    font: 14px/16px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    width: 144px;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shelf-table .info p {
    font-size: 12px;
    color: grey;
}
p {
    word-wrap: break-word;
    word-break: break-all;
}

.shelf-table .chapter {
    padding-top: 7px;
}


.shelf-table .chapter h4 {
    font: 14px/16px PingFangSC-Regular,'-apple-system',Simsun;
}

.shelf-table .chapter h4 span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: -1px 0 0 -15px;
    vertical-align: middle;
    border-radius: 100%;
    background: #f01742;
}
.shelf-table tbody a,.bottom-tool-bar>.tool-bar>a:hover{
    color: #f01742;
}

.shelf-table .chapter h4 cite {
    font-family: FZZCYSK;
    color: #ff7e00;
}
cite, em, i {
    font-style: normal;
}

.shelf-table .chapter p a, .shelf-table .chapter p i {
    color: grey;
}


/* 立即阅读 */
.shelf-table .btn {
    width: 80px;
    padding-top: 10px;
    position: relative;
}

.red-btn { 
    /* position: absolute;  */
    text-align: center;
    color: #fff;
    border-color: #f01742;
    background: #f01742;
}

.pink-btn, .red-btn {
    color: #fff !important;
    border-radius: 100px!important;
    background: #f01742;
}

.shelf-table .btn a.red-btn {
    font: 14px/30px PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    border-radius: 2px;
    margin-bottom: 5px;
}


.shelf-table .btn .hide-btn .top-btn {
    float: left;
}


.shelf-table .btn .hide-btn .del-btn {
    float: right;
}


.shelf-table .btn .hide-btn{
    display: none;
}

.shelf-table tr.top .btn .hide-btn{
    display: block;
}



/* 分页 */
.page-box {
    padding: 20px 0;
}
.page-box {
    min-height: 40px;
    text-align: center;
}

.page-box .pagination {
    display: inline-block;
    overflow: hidden;
}

.page-box .pagination ul {
    float: left;
}

.page-box .pagination li {
    float: left;
    margin-right: 10px;
    text-align: center;
}

.page-box .pagination li a {
    font: 14px/34px Arial;
    float: left;
    height: 34px;
    padding: 0 12px;
    transition: color .3s,border .3s;
    border: 1px solid #fff;
}

.page-box .pagination .lbf-pagination-next, .page-box .pagination .lbf-pagination-prev {
    font-family: simsun;
    line-height: 34px;
}

.page-box .pagination .lbf-pagination-disabled {
    cursor: default;
    color: #ccc;
}

.page-box .pagination .lbf-pagination-current {
    color: #fff;
    border: 1px solid #f01742;
    border-radius: 2px;
    background: #f01742;
}

.page-box .pagination .lbf-pagination-next, .page-box .pagination .lbf-pagination-prev {
    font-family: simsun;
    line-height: 34px;
}

.tool-bar {
    font-size: 0;
    line-height: 60px;
    position: relative;
    z-index: 1;
    height: 60px;
    padding: 0 20px;
    border-radius: 6px;
    background: #fff;
}


.tool-bar .ui-checkbox {
    vertical-align: -6px;
}

.tool-bar a, .tool-bar label {
    font-size: 12px;
}

.tool-bar a {
    margin-left: 32px;
    color: #1a1a1a;
}




































































